.user-profile-container{
    margin: 0 auto;
    width:80%;
    border:2px solid #fff;
    background-color:#fff;
    box-shadow:10px 10px 10px #cfdbf3;
    margin-top:60px;
}

.search-filter-container{
    display:flex;
    justify-content: space-between;
}
.search-input{
  outline:none;
  border:none;
}

.search-input:focus{
    outline:none
}
.table{
    max-width:100%;
    width:100%
}


.spinner-container{
  text-align:center;
  font-size:30px;
}

.spinner {
    animation: spin infinite 5s linear;
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-input{
  border:1px solid #7A6CF2;
  width:300px;
  border-radius:4px;
  padding:8px
}

.profile-text{
  text-align:center;
  padding-top:30px;
}
.filter-row{
  margin-right:5%
}